.jonnie-2 {
    border: 2px #49120b solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvas {
    width: 100%;
    height: 300px;

    padding: 16px;
    box-sizing: border-box;

    background-color: rgb(235, 224, 224);

    display: flex;
    align-items: center;
    justify-content: center;
}

.h {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 170px;
    background-color: #E8BEAC;
    border-radius: 50%;
    overflow: hidden;
}  

.e {
    position: absolute;

    background: black;
    width: 40px;
    height: 40px;
    clip-path: circle(50% at 25% 50%);
}

.e-1 {
    top: 70px;
    left: 40px;
    rotate: 120deg;
}

.e-1::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;

    left: 0px;
    top: 8px; 
}

.e-2 {
    top: 70px;
    right: 40px;
    rotate: 60deg;
}

.e-2::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;

    left: 8px;
    top: 2px; 
}

.n {
    position: absolute;
    width: 6%;
    height: 7.5%;
    background: 
      linear-gradient(#5c5157 0 0) 31% 51%/1px 21% no-repeat,
      linear-gradient(#5c5157 0 0) 14% 47%/1px 33% no-repeat, 
      #898086;
    top: 62%;
    left: 54%;
    border-radius: 30% 70% 74% 26% / 30% 61% 39% 70%;
    clip-path: polygon(-200% 0, 52% 0, 100% 50%, 100% 200%, -200% 200%);
    z-index: 9;
}
.n:before {
    content: "";
    position: absolute;
    width: 69%;
    height: 24%;
    top: 117%;
    right: 15%;
    border-top: 1px solid #6d655a;
    border-radius: 50%;
    filter: drop-shadow(0 0 0px #6d655a);
    transform: rotate(-32deg);
    clip-path: inset(-105% 4%);
 }
.n:after {
    content: "";
    position: absolute;
    width: 69%;
    height: 24%;
    top: 119%;
    left: -128%;
    border-top: 1px solid #6d655a;
    border-radius: 50%;
    filter: drop-shadow(0 0 0px #6d655a);
    transform: rotate(32deg);
    clip-path: inset(-105% 4%);
}
.m {
    width: 120px;
    height: 60px;
    position: absolute;
    top: 130px;

    border-radius: 90%;
}
.m:before {
    content: "";
    width: 60%;
    height: 20%;
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 52% 31% 0 0;
    border-top: 2px solid #54463d;
    clip-path: inset(0 7% 0 11%);
}
.m:after {
    content: "";
    position: absolute;
    width: 11%;
    height: 2.4%;
    background: radial-gradient(#564135, #7e685b 40%);
    filter: blur(1px);
    bottom: 70%;
    left: 52%;
    transform: translate(-50%);
    border-radius: 50%;
}
.h:after {
    content:"";
    position: absolute;
    width: 120%;
    top: -40%;
    left: -12px;
    height: 123%;
    background: #222;
    transform: rotate(-4deg) rotateX(76deg);
    border-radius: 50%;
    border:2px solid #222;
    box-sizing: border-box;
}
.h:before {
    content:"";
    width: 58%;
    top: -20%;
    height: 49%;
    position: absolute;
    background: #811e2f;
    left: 50%;
    background-repeat: no-repeat;
    transform: translate(-51%) rotate(-3deg);
    border-radius: 50% 50% 0 0/69% 69% 0 0;
    border: 1px solid #222;
}

