
.container .cardi{
 position: relative;
 width: 100%;
 height: 100%;
 background: RGB(29, 34, 41);
 border-radius: 10px;
 overflow: hidden;
}

.container .cardi:before{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: #f74848;
 clip-path: circle(150px at 80% 20%);
 transition: 0.5s ease-in-out;
}

.container .cardi:hover:before{
 clip-path: circle(300px at 80% -20%);
}

.container .cardi:after{
 content: 'JDC';
 position: absolute;
 top: 40%;
 /* left: -10%; */
 font-size: 7em;
 font-weight: 800;
 font-style: italic;
 color: rgba(250, 207, 207, 0.05)
}

.container .cardi .imgBx{
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 z-index: 10000;
 width: 100%;
 height: 220px;
 transition: 0.5s;
}

.container .cardi:hover .imgBx{
 top: 0%;
 transform: translateY(0%);
   
}

.container .cardi .imgBx img{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(-25deg);
 width: 270px;
}

.container .cardi .contentBx{
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 100px;
 text-align: center;
 transition: 1s;
 z-index: 10;
}

.container .cardi:hover .contentBx{
 height: 210px;
}

.container .cardi .contentBx h2{
 position: relative;
 font-weight: 600;
 letter-spacing: 1px;
 color: #fff;
 margin: 0;
}

.container .cardi .contentBx .size, .container .cardi .contentBx .color {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 8px 20px;
 transition: 0.5s;opacity: 0;
 visibility: hidden;
 padding-top: 0;
 padding-bottom: 0;
}

.container .cardi:hover .contentBx .size{
 opacity: 1;
 visibility: visible;
 transition-delay: 0.5s;
}

.container .cardi:hover .contentBx .color{
 opacity: 1;
 visibility: visible;
 transition-delay: 0.6s;
}

.container .cardi .contentBx .size h3, .container .cardi .contentBx .color h3{
 color: #fff;
 font-weight: 300;
 font-size: 14px;
 text-transform: uppercase;
 letter-spacing: 2px;
 margin-right: 10px;
}

.container .cardi .contentBx .size span{
 width: 26px;
 height: 26px;
 text-align: center;
 line-height: 26px;
 font-size: 14px;
 display: inline-block;
 color: #111;
 background: #fff;
 margin: 0 5px;
 transition: 0.5s;
 color: #111;
 border-radius: 4px;
 cursor: pointer;
}

.container .cardi .contentBx .size span:hover{
 background: #9bdc28;
}

.container .cardi .contentBx .color span{
 width: 20px;
 height: 20px;
 background: #ff0;
 border-radius: 50%;
 margin: 0 5px;
 cursor: pointer;
}

.container .cardi .contentBx .color span:nth-child(2){
 background: #9bdc28;
}

.container .cardi .contentBx .color span:nth-child(3){
 background: #03a9f4;
}

.container .cardi .contentBx .color span:nth-child(4){
 background: #e91e63;
}

.container .cardi .contentBx a{
 display: inline-block;
 padding: 10px 20px;
 background: #fff;
 border-radius: 4px;
 margin-top: 10px;
 text-decoration: none;
 font-weight: 600;
 color: #111;
 opacity: 0;
 transform: translateY(50px);
 transition: 0.5s;
 margin-top: 0;
}

.container .cardi:hover .contentBx a{
 opacity: 1;
 transform: translateY(0px);
 transition-delay: 0.55s;
 
}

h6{
 color: white;
 font-size: large;
 font-weight: 700;
 position: relative;
 bottom: 12px;
}